.menu__item {
   text-align: center;
   width: 60px;
   height: 60px;
   margin-bottom: 35px;
   :hover {
      color: green;
   }
}
.menu__linc {
   color: #000;
}
.menu__linc:visited {
   color: #000;
}

.active {
   fill: green;
   color: green;
}

.menu__items {
   border-radius: 20px;
   display: flex;
   justify-content: space-around;
   background: rgb(220, 220, 230);
   background: linear-gradient(
      72deg,
      rgba(220, 220, 230, 1) 0%,
      rgba(120, 124, 120, 0.8547794117647058) 63%,
      rgba(91, 92, 86, 1) 100%
   );
   list-style-type: none;
   :nth-child(5) {
      :hover {
         fill: green;
         color: green;
      }
   }
}
@media (max-width: 845px) {
   .menu__items {
      padding: 5px;
      display: block;
   }
}
