.auth {
   display: flex;
   flex-direction: column;
   top: 20%;
   left: 34%;

   &__btn {
      font-family: "Caveat", cursive;
      padding: 5px;
      background-color: lightblue;
      font-size: 30px;
      border-radius: 20px;
      margin-bottom: 20px;
   }
   &__personal-account {
      background: #000;
      padding: 10px;
      svg {
         fill: rebeccapurple;
      }
   }
}
.fav-icon {
   fill: red;
   width: 50px;
   height: 50px;
}
@media (max-width: 400px) {
   .auth {
      &__title {
         display: none;
      }
   }
}
