.auth {
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   position: absolute;
   top: 20%;
   left: 34%;
   &__title {
      font-family: "Caveat", cursive;
      font-size: 30px;
      margin-bottom: 15px;
      text-align: center;
   }
   &__btn {
      font-family: "Caveat", cursive;
      padding: 5px;
      background-color: lightblue;
      font-size: 30px;
      border-radius: 20px;
      margin-bottom: 20px;
   }
   &__favorite {
      position: relative;
      display: inline-block;
      background-color: #fff;
      text-align: center;
   }
   &__icon {
      width: 100px;
   }
}
.fav-icon {
   position: absolute;
   bottom: -10px;
   fill: red;
   width: 50px;
   height: 50px;
}
@media (max-width: 400px) {
   .auth {
      &__title {
         display: none;
      }
   }
}
