.info {
   display: flex;
   justify-content: flex-end;

   &__items {
      display: flex;
      border-bottom: 1px solid grey;
   }
   &__item {
      margin-right: 10px;
      color: #000;
   }
   &__linc {
      color: #000;
   }
   :hover {
      color: rgb(158, 34, 34);
   }
}
