.basket-block {
   display: flex;
   &__image {
      max-height: 100px;
   }

   &__discription {
   }
   &__subtitle {
   }
   &__weight {
      font-family: "Dancing Script", cursive;
   }

   &__bottom {
   }
   &__number {
   }

   &__price {
   }
}
