.basket-block {
   margin: 10px;
   display: flex;
   &__image {
      margin-right: 5px;
      max-height: 100px;
   }

   &__discription {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
   }
   &__subtitle {
   }
   &__weight {
      font-family: "Dancing Script", cursive;
   }

   &__bottom {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;
   }
   &__number {
   }

   &__price {
   }
}
