.header {
   background: rgb(13, 13, 139);
   background: linear-gradient(148deg, rgba(13, 13, 139, 1) 0%, rgba(13, 147, 13, 1) 62%);
   padding: 20px 0px 95px 0;
   position: relative;
   &__wrraper {
      max-width: 1280px;
      margin: 0 auto;
   }
}
